# Editor configuration, see: http://editorconfig.org
# VS config, see: https://docs.microsoft.com/en-us/visualstudio/ide/editorconfig-code-style-settings-reference
#            example: https://github.com/jamesmontemagno/GeolocatorPlugin/blob/master/.editorconfig
root = true

[*]
charset = utf-8
indent_style = space
indent_size = 3
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{md,yaml,yml}]
max_line_length = off
indent_size = 2
insert_final_newline = false
trim_trailing_whitespace = false
