.vs/
.sass-cache/
.tscache/
node_modules/
csx/
rcf/
Backup/
lib/packages/
obj/
bin/
$RECYCLE.BIN/

/artifacts/
/FodyWeavers.xml
/Directory.Build.props

build/tools/*
!build/tools/packages.config
!build/tools/nuget.config
!build/tools/Modules/
build/tools/Modules/*
!build/tools/Modules/packages.config

**/scriptcs_packages/
src/*-uwp/*.targets

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
.baseDir.ts
.userprefs
gulp-tsc-tmp*
Resource.Designer.cs
project.lock.json

*~
*.tmp.txt
*.userprefs
*.log
*.lock
*.sublime-project
*.sublime-workspace
*.sass-cache
*.suo
*.user
*.nupkg
*.bak
*.sw[mnpcod]
