.env

.vs/
.sass-cache/
.tscache/
node_modules/
lib/packages/
obj/
bin/
csx/
rcf/
Backup/

.baseDir.ts
.userprefs
gulp-tsc-tmp*
Resource.Designer.cs

*.tmp.txt
*.userprefs
*.db
*.log
*.sublime-project
*.sublime-workspace
*.sass-cache
*.suo
*.user
*.nupkg
*.bak
project.lock.json
artifacts/
